/* h1,h2,h3 {color:#ff0000;}  */             /* Farben der Überschrift */
h1,h2,h3 {color:#00A000;}              /* Überschriften */
h2 {margin-top:2em;}
span.tblct {color:#FF66FF;font-style:italic;font-size:105%;}       /* Tabellenüber/Unterschriften */
         /* unteren Ramen */
td.subram {border-bottom-width:2px;border-bottom-style:solid;border-color:#FFFFFF;padding-bottom:10px;}
div.nabs {margin-bottom:2mm;}                                        /* neuer Absatz */
span.citesrc {font-size:smaller;font-style:italic;}  /* Citation Sources */
/* ul {position:relative;top:-1.5ex;} */
       /* Aufzählungslisten */
li {margin-bottom:1ex;}  /* Listelemente */
